@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font: var(--font-nunito);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: #333333;
}

@layer components {
	.basic-card {
		@apply shadow-md bg-white h-full rounded-lg p-6 flex-1 flex-col items-center;
	}
}

a:link { color: #0000EE; }

a:visited { color: #551A8B; }

a:hover { color: #8888EE; }

a:active { color: #ffeb3b; }